html, body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}

body {
  background: url("images/background.png") no-repeat center center fixed;
  background-size: cover;
}

.window {
  width: 620px;
  height: 400px;
  background: #FFFFFA;
  border-radius: 12px;
  border: 2px solid #624444;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.title-bar {
  background: #96816B;
  padding: 10px 16px;
  color: white;
  font-family: "JetBrains Mono", monospace;
  display: flex;
  justify-content: space-between;
  font-size: 17px;

  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  border-bottom-left-radius: 0;  
  border-bottom-right-radius: 0;
}

.content {
  padding: 40px;
  text-align: left;
  position: relative;
}

.fruit {
  width: 180px;
  position: absolute;
  right: 70px;
  top: 25%;
  animation: spin 8s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h1 {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  letter-spacing: 0.05em;
  padding-left: 50px;
  font-size: 50px;
  line-height: 1.1; 
  margin: 15;
  font-weight: 1000;
}
.sub {
  margin-top: -10px;
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  padding-left: 60px;
  line-height: 1.6;  
  opacity: 0.65;
}
.download {
  font-family: "JetBrains Mono", monospace;
  font-size: 22px;
  padding-left: 50px;
  text-decoration: none;
  color: black;
}
.note {
  margin-top: 20px;
  padding-left: 42px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 12px;
  opacity: 0.65;
}
.thanks {
  text-align: center;
  margin-top: 5px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 32px;
  font-weight: 1000;
  letter-spacing: 0.05em;
  line-height: 1.3;
  padding-left: 10px;
}

.back {
  display: block;
  margin-top: 140px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 16px;
}